<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table id="tasks">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Complete</th>
    <th>StartTime</th>
    <th>EndTime</th>
    <th>ProjectID</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @tasks %>
  </tbody>
</table>

<br>

  <div id="new-task">
<%= link_to 'New Task', new_task_path, remote: true%>
  </div>