
<div class =scroller>
  <% if user_signed_in? %>
    <% @tasks = Task.all%>

    <%= month_calendar attribute: :end_time, end_attribute: :end_time, events: @tasks do |date, tasks| %>
      <%=date%>
      <% tasks.each do |task| %>
        <div class = simple-calendar>
          <%@proj = Project.find(task.project_id) %>
          <%if @proj.user_id==current_user.id%>
            <%= link_to task.name, task %>
            <%= link_to @proj.name, @proj%>
            </div>
            </div>
          <%end %>
      <% end %>
    <% end %>
  <%end %>

