// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: #CCFFE5;
  font-size: 30px;

}
a:hover {
  color: #1fbf9f;
}


.right{
  text-align: right;
  padding: 10px;
  padding-top: 25px;
}
